<article class="img-cnt" ng-mouseenter="changeCursor($event)">
	<div class="img-edit">
    	<figure><img src="assets/images/notebook.png"></img></figure>
        <div id="paint-cnt">
     		<canvas id="paint"></canvas>
     	</div>
        <div class="text-cnt">
            <p>Navs available in Bootstrap have shared markup, starting with the base.</p>
            <p>Navs available in Bootstrap have shared markup, starting with the base.</p>
            <p>Navs available in Bootstrap have shared markup, starting with the base.</p>
            <p>Navs available in Bootstrap have shared markup, starting with the base.</p>
            <p>Navs available in Bootstrap have shared markup, starting with the base.</p>
            <p>Navs available in Bootstrap have shared markup, starting with the base.</p>
            <p>Navs available in Bootstrap have shared markup, starting with the base.</p>
            <p>Navs available in Bootstrap have shared markup, starting with the base.</p>
            <p>Navs available in Bootstrap have shared markup, starting with the base.</p>
    	</div>
        <div class="marker-place" ng-click="addTools($event)" ng-mouseleave="changeCursor($event)"></div>
        
    </div>
    <div class="toolicon" data-ng-show="isIconV"><figure><img src="{{iconsrc}}"></figure></div>
</article>