<nav>
	<div class="tools-cnt">
        <ul class="nav nav-pills">
          <li role="presentation" ng-click="selectTools($event)" tooltype="cross"><figure><img src="assets/images/cross.png"></figure></li>
          <li role="presentation" ng-click="selectTools($event)" tooltype="tick"><figure><img src="assets/images/tick.png"></figure></li>
          <li role="presentation" ng-click="selectTools($event)" tooltype="texts"><figure><img src="assets/images/textselecter.png"></figure></li>
          <li role="presentation" ng-click="selectTools($event)" tooltype="pen"><figure><img src="assets/images/pen.png"></figure></li>
        </ul>
    </div>
</nav>